In [ ]:
# Python Numpy Pandas Matplotlib Seaborn

# 1. Ask Questions
# 2. Data Wrangling
#   a. Data Gathering
#   b. Data Assessing (Excel and Pandas)
#   c. Data Cleaning  (Pandas)
# 3. Exploratory Data Analysis (matplotlib , seaborn)
# 4. Machine Learning
#   a. Feature Engineering
#   b. Model Building

# Pune (Cleaning)
# Pandas String Functions list functions : 3

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("Pune_property_data.csv")

In [ ]:
# Unwanted column = "Unnamed: 0" , "ammenitiesnot" , "pricepersquare" , "projectname"
# additionalrooms = Null Values(0), study, pooja, servent rooms
# age = Null , - (average)
# ammenitiesavailable = seprate all values in col, Null values
# area = Null , (, , sq ft)
# balconies = Null (0)
# bathrooms = Null
# bhk = (Resenditial , Independent , Villa , Apartment) (bhk , rk) : totalrooms
# carpetarea = Null , sq ft
# facing = Null
# floor = , , Null , Gr (0)
# localities :
# oldornew : Resale (Old)
# openside = Null
# overlooking : Road , Garder , Pool , Corner , Null
# ownership : Null
# possessiondate : Null
# price
# roadfaceing : Null , feet
# status : Null , Ready to Move , Unfurnished , Furnished , Under Construction , semi
# Total Floor : Null

In [ ]:
data

,Unnamed: 0,additionalrooms,age,amenitiesavailable,amenitiesnot,area,balconies,bathroom,bhk,carpetarea,...,opensides,overlooking,ownership,possesiondate,price,pricepersquare,projectname,roadfaceing,status,totalfloor
0,0,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","24 X 7 Security,Children's play area,Club Hous...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,...,2,Road View,Co-Operative Society,NaN,27000000,"₹ 16,759/ sq ft",Bhansali Prive Rio,40 feet,Ready to move,6
1,1,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Sports Facility,Landscape...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,...,NaN,NaN,Freehold,NaN,7610050,"₹ 5,950/ sq ft",Goel Ganga Platino,NaN,Ready to move,NaN
2,2,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",Sports Facility,670 sq ft,NaN,1,1 BHK Apartment,NaN,...,NaN,NaN,Freehold,NaN,4100000,"₹ 6,119/ sq ft",Vilas Javdekar Yashwin,NaN,Ready to move,NaN
3,3,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...","Sports Facility,Landscaped Gardens",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,...,NaN,NaN,Freehold,NaN,5736000,"₹ 6,000/ sq ft",Rohan Ishan,NaN,Ready to move,NaN
4,4,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Club House,Swimming Pool,Sports Facility,Joggi...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,...,2,Road View,Freehold,NaN,29002000,"₹ 17,000/ sq ft",Swojas Aavishkar,60 feet,Ready to move,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,37534,1 rooms( pooja room ),0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,...,4,Garden View,Freehold,NaN,8363000,"₹ 7,714/ sq ft",Builder Luxurious Apartment,NaN,Ready to move,12
37535,37535,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,...,4,Garden View,Freehold,Dec-19,6338000,"₹ 6,650/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37536,37536,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,...,4,Garden View,Freehold,Dec-20,8100000,"₹ 6,650/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37537,37537,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,...,4,Garden View,Freehold,Dec-18,7780000,"₹ 7,243/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37538,37538,"2 rooms( servant room, pooja room )",NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,...,4,Garden View,Freehold,Jun-18,47800000,"₹ 10,480/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12

In [ ]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [ ]:
data

,additionalrooms,age,amenitiesavailable,amenitiesnot,area,balconies,bathroom,bhk,carpetarea,facing,...,opensides,overlooking,ownership,possesiondate,price,pricepersquare,projectname,roadfaceing,status,totalfloor
0,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","24 X 7 Security,Children's play area,Club Hous...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,...,2,Road View,Co-Operative Society,NaN,27000000,"₹ 16,759/ sq ft",Bhansali Prive Rio,40 feet,Ready to move,6
1,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Sports Facility,Landscape...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,...,NaN,NaN,Freehold,NaN,7610050,"₹ 5,950/ sq ft",Goel Ganga Platino,NaN,Ready to move,NaN
2,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",Sports Facility,670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,...,NaN,NaN,Freehold,NaN,4100000,"₹ 6,119/ sq ft",Vilas Javdekar Yashwin,NaN,Ready to move,NaN
3,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...","Sports Facility,Landscaped Gardens",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,...,NaN,NaN,Freehold,NaN,5736000,"₹ 6,000/ sq ft",Rohan Ishan,NaN,Ready to move,NaN
4,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Club House,Swimming Pool,Sports Facility,Joggi...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,...,2,Road View,Freehold,NaN,29002000,"₹ 17,000/ sq ft",Swojas Aavishkar,60 feet,Ready to move,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,1 rooms( pooja room ),0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,...,4,Garden View,Freehold,NaN,8363000,"₹ 7,714/ sq ft",Builder Luxurious Apartment,NaN,Ready to move,12
37535,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,...,4,Garden View,Freehold,Dec-19,6338000,"₹ 6,650/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37536,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,...,4,Garden View,Freehold,Dec-20,8100000,"₹ 6,650/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37537,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,...,4,Garden View,Freehold,Dec-18,7780000,"₹ 7,243/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12
37538,"2 rooms( servant room, pooja room )",NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","Children's play area,Club House,Gymnasium,Spor...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,...,4,Garden View,Freehold,Jun-18,47800000,"₹ 10,480/ sq ft",Builder Luxurious Apartment,NaN,Under Construction,12

In [ ]:
data.shape

(37539, 23)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37539 entries, 0 to 37538
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   additionalrooms     9321 non-null   object
 1   age                 27637 non-null  object
 2   amenitiesavailable  34445 non-null  object
 3   amenitiesnot        34286 non-null  object
 4   area                37518 non-null  object
 5   balconies           21911 non-null  object
 6   bathroom            34667 non-null  object
 7   bhk                 37538 non-null  object
 8   carpetarea          8622 non-null   object
 9   facing              30919 non-null  object
 10  floor               31919 non-null  object
 11  locality            37538 non-null  object
 12  neworold            37538 non-null  object
 13  opensides           11605 non-null  object
 14  overlooking         17140 non-null  object
 15  ownership           28156 non-null  object
 16  possesiondate       4736 non-null   object
 17  price               37538 non-null  object
 18  pricepersquare      37538 non-null  object
 19  projectname         24129 non-null  object
 20  roadfaceing         6875 non-null   object
 21  status              36078 non-null  object
 22  totalfloor          24114 non-null  object
dtypes: object(23)
memory usage: 6.6+ MB

In [ ]:
data["additionalrooms"].unique()

array([nan, '3 rooms( study room, servant room, pooja room )',
       '2 rooms( study room, pooja room )', '1 rooms( pooja room )',
       '1 rooms( servant room )', '1 rooms( study room )',
       '2 rooms( study room, servant room )',
       '2 rooms( servant room, pooja room )', 'additionalrooms'],
      dtype=object)

In [ ]:
data.describe()

,additionalrooms,age,amenitiesavailable,amenitiesnot,area,balconies,bathroom,bhk,carpetarea,facing,...,opensides,overlooking,ownership,possesiondate,price,pricepersquare,projectname,roadfaceing,status,totalfloor
count,9321,27637,34445,34286,37518,21911,34667,37538,8622,30919,...,11605,17140,28156,4736,37538,37538,24129,6875,36078,24114
unique,8,69,6402,2534,2380,9,10,40,1232,9,...,5,16,5,52,3342,7086,3591,84,12,35
top,1 rooms( pooja room ),6 - 7 years,"Lift Available,Car Parking,Power Backup,24 X 7...",Sports Facility,"1,000 sq ft",1,2,2 BHK Apartment,500 sq ft,East,...,1,Garden View,Freehold,Dec-18,7500000,"₹ 10,000/ sq ft",Builder Luxurious Apartment,20 feet,"Ready to move,Unfurnished",12
freq,3440,3552,1052,4659,700,9482,13705,13779,151,20783,...,4199,4544,25366,1445,817,462,1620,1054,16641,5482

In [ ]:
data.duplicated().sum()

np.int64(7857)

In [ ]:
data.isna().sum()

additionalrooms       28218
age                    9902
amenitiesavailable     3094
amenitiesnot           3253
area                     21
balconies             15628
bathroom               2872
bhk                       1
carpetarea            28917
facing                 6620
floor                  5620
locality                  1
neworold                  1
opensides             25934
overlooking           20399
ownership              9383
possesiondate         32803
price                     1
pricepersquare            1
projectname           13410
roadfaceing           30664
status                 1461
totalfloor            13425
dtype: int64

In [ ]:
# 2 b : TO find the errors in the data

In [ ]:
# 2 c : to make the data in the proper format. (atomic values) (1NF)

In [ ]:
data.drop([ "amenitiesnot" , "pricepersquare" , "projectname"], axis=1, inplace=True)

In [ ]:
data

,additionalrooms,age,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,locality,neworold,opensides,overlooking,ownership,possesiondate,price,roadfaceing,status,totalfloor
0,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",Deccan Gymkhana,New,2,Road View,Co-Operative Society,NaN,27000000,40 feet,Ready to move,6
1,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,Kharadi,New,NaN,NaN,Freehold,NaN,7610050,NaN,Ready to move,NaN
2,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,Sus,New,NaN,NaN,Freehold,NaN,4100000,NaN,Ready to move,NaN
3,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,Bavdhan,New,NaN,NaN,Freehold,NaN,5736000,NaN,Ready to move,NaN
4,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",Deccan Gymkhana,New,2,Road View,Freehold,NaN,29002000,60 feet,Ready to move,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,1 rooms( pooja room ),0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",Baner,New,4,Garden View,Freehold,NaN,8363000,NaN,Ready to move,12
37535,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",Wakad,New,4,Garden View,Freehold,Dec-19,6338000,NaN,Under Construction,12
37536,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",Hinjewadi,New,4,Garden View,Freehold,Dec-20,8100000,NaN,Under Construction,12
37537,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",Bavdhan,New,4,Garden View,Freehold,Dec-18,7780000,NaN,Under Construction,12
37538,"2 rooms( servant room, pooja room )",NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",Aundh,New,4,Garden View,Freehold,Jun-18,47800000,NaN,Under Construction,12

In [ ]:
data.dropna(subset=["bhk", "locality", "neworold"], inplace=True)  # subset is use because one time select more colmns

In [ ]:
data["additionalrooms"].unique()

array([nan, '3 rooms( study room, servant room, pooja room )',
       '2 rooms( study room, pooja room )', '1 rooms( pooja room )',
       '1 rooms( servant room )', '1 rooms( study room )',
       '2 rooms( study room, servant room )',
       '2 rooms( servant room, pooja room )', 'additionalrooms'],
      dtype=object)

In [ ]:
def clean_addtional_rooms(x):
  x=str(x)
  if x == "nan":
    return np.nan
  return x.split(" ")[0]
data["No of rooms"]= data["additionalrooms"].apply(clean_addtional_rooms)

In [ ]:
data.isna().sum()

additionalrooms       28217
age                    9901
amenitiesavailable     3093
area                     20
balconies             15627
bathroom               2871
bhk                       0
carpetarea            28916
facing                 6619
floor                  5619
locality                  0
neworold                  0
opensides             25933
overlooking           20398
ownership              9382
possesiondate         32802
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
dtype: int64

In [ ]:
data

,additionalrooms,age,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,...,neworold,opensides,overlooking,ownership,possesiondate,price,roadfaceing,status,totalfloor,No of rooms
0,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",...,New,2,Road View,Co-Operative Society,NaN,27000000,40 feet,Ready to move,6,NaN
1,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,...,New,NaN,NaN,Freehold,NaN,7610050,NaN,Ready to move,NaN,NaN
2,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,...,New,NaN,NaN,Freehold,NaN,4100000,NaN,Ready to move,NaN,NaN
3,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,...,New,NaN,NaN,Freehold,NaN,5736000,NaN,Ready to move,NaN,NaN
4,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",...,New,2,Road View,Freehold,NaN,29002000,60 feet,Ready to move,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,1 rooms( pooja room ),0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",...,New,4,Garden View,Freehold,NaN,8363000,NaN,Ready to move,12,1
37535,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",...,New,4,Garden View,Freehold,Dec-19,6338000,NaN,Under Construction,12,1
37536,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",...,New,4,Garden View,Freehold,Dec-20,8100000,NaN,Under Construction,12,1
37537,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",...,New,4,Garden View,Freehold,Dec-18,7780000,NaN,Under Construction,12,1
37538,"2 rooms( servant room, pooja room )",NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",...,New,4,Garden View,Freehold,Jun-18,47800000,NaN,Under Construction,12,2

In [ ]:
data["additionalrooms"].unique()

array([nan, '3 rooms( study room, servant room, pooja room )',
       '2 rooms( study room, pooja room )', '1 rooms( pooja room )',
       '1 rooms( servant room )', '1 rooms( study room )',
       '2 rooms( study room, servant room )',
       '2 rooms( servant room, pooja room )', 'additionalrooms'],
      dtype=object)

In [ ]:
def clean_poojaroom(x):
  x=str(x)
  if x == "nan":
    return np.nan
  elif "pooja" in x:
    return "Yes"
  else:
    return "No"
data["Pooja room"]=data["additionalrooms"].apply(clean_poojaroom)

In [ ]:
data

,additionalrooms,age,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,...,opensides,overlooking,ownership,possesiondate,price,roadfaceing,status,totalfloor,No of rooms,Pooja room
0,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",...,2,Road View,Co-Operative Society,NaN,27000000,40 feet,Ready to move,6,NaN,NaN
1,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,...,NaN,NaN,Freehold,NaN,7610050,NaN,Ready to move,NaN,NaN,NaN
2,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,...,NaN,NaN,Freehold,NaN,4100000,NaN,Ready to move,NaN,NaN,NaN
3,NaN,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,...,NaN,NaN,Freehold,NaN,5736000,NaN,Ready to move,NaN,NaN,NaN
4,NaN,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",...,2,Road View,Freehold,NaN,29002000,60 feet,Ready to move,9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,1 rooms( pooja room ),0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",...,4,Garden View,Freehold,NaN,8363000,NaN,Ready to move,12,1,Yes
37535,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",...,4,Garden View,Freehold,Dec-19,6338000,NaN,Under Construction,12,1,Yes
37536,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",...,4,Garden View,Freehold,Dec-20,8100000,NaN,Under Construction,12,1,Yes
37537,1 rooms( pooja room ),NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",...,4,Garden View,Freehold,Dec-18,7780000,NaN,Under Construction,12,1,Yes
37538,"2 rooms( servant room, pooja room )",NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",...,4,Garden View,Freehold,Jun-18,47800000,NaN,Under Construction,12,2,Yes

In [ ]:
def clean_servent(x):
  x=str(x)
  if x == "nan":
    return np.nan
  elif "servant" in x:
    return "Yes"
  else:
    return "No"
data["Servant room"]=data["additionalrooms"].apply(clean_servent)

def clean_study(x):
  x=str(x)
  if x == "nan":
    return np.nan
  elif "study" in x:
    return "Yes"
  else:
    return "No"
data["Study room"]=data["additionalrooms"].apply(clean_study)

In [ ]:
data.isna().sum()

additionalrooms       28217
age                    9901
amenitiesavailable     3093
area                     20
balconies             15627
bathroom               2871
bhk                       0
carpetarea            28916
facing                 6619
floor                  5619
locality                  0
neworold                  0
opensides             25933
overlooking           20398
ownership              9382
possesiondate         32802
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
dtype: int64

In [ ]:
data.drop("additionalrooms", axis=1, inplace=True)

In [ ]:
def clean_age(x):
  x=str(x)
  if x== "nan":
    return np.nan
  elif "-" not in x:
    return x.split(" ")[0]
  else:
    x = x.split("-")
    a = x[0].strip()
    b = x[-1].strip().split(" ")[0]
    return (int(a) + int(b)) / 2

In [ ]:
data["Age"]=data["age"].apply(clean_age)

In [ ]:
data

,age,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,locality,...,possesiondate,price,roadfaceing,status,totalfloor,No of rooms,Pooja room,Servant room,Study room,Age
0,2 - 3 years,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",Deccan Gymkhana,...,NaN,27000000,40 feet,Ready to move,6,NaN,NaN,NaN,NaN,2.5
1,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,Kharadi,...,NaN,7610050,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5
2,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,Sus,...,NaN,4100000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5
3,2 - 3 years,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,Bavdhan,...,NaN,5736000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,2.5
4,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",Deccan Gymkhana,...,NaN,29002000,60 feet,Ready to move,9,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,0 - 1 year,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",Baner,...,NaN,8363000,NaN,Ready to move,12,1,Yes,No,No,0.5
37535,NaN,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",Wakad,...,Dec-19,6338000,NaN,Under Construction,12,1,Yes,No,No,NaN
37536,NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",Hinjewadi,...,Dec-20,8100000,NaN,Under Construction,12,1,Yes,No,No,NaN
37537,NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",Bavdhan,...,Dec-18,7780000,NaN,Under Construction,12,1,Yes,No,No,NaN
37538,NaN,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",Aundh,...,Jun-18,47800000,NaN,Under Construction,12,2,Yes,Yes,No,NaN

In [ ]:
data.drop("age", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,locality,neworold,...,possesiondate,price,roadfaceing,status,totalfloor,No of rooms,Pooja room,Servant room,Study room,Age
0,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",Deccan Gymkhana,New,...,NaN,27000000,40 feet,Ready to move,6,NaN,NaN,NaN,NaN,2.5
1,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,Kharadi,New,...,NaN,7610050,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5
2,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,Sus,New,...,NaN,4100000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5
3,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,Bavdhan,New,...,NaN,5736000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,2.5
4,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",Deccan Gymkhana,New,...,NaN,29002000,60 feet,Ready to move,9,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",Baner,New,...,NaN,8363000,NaN,Ready to move,12,1,Yes,No,No,0.5
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",Wakad,New,...,Dec-19,6338000,NaN,Under Construction,12,1,Yes,No,No,NaN
37536,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",Hinjewadi,New,...,Dec-20,8100000,NaN,Under Construction,12,1,Yes,No,No,NaN
37537,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",Bavdhan,New,...,Dec-18,7780000,NaN,Under Construction,12,1,Yes,No,No,NaN
37538,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",Aundh,New,...,Jun-18,47800000,NaN,Under Construction,12,2,Yes,Yes,No,NaN

In [ ]:
def clean_area(x):
  x=str(x)
  if x=="nan":
    return np.nan
  else:
    return x.split(" ")[0].replace("," , "")
data["Area"]=data["area"].apply(clean_area)

In [ ]:
data

,amenitiesavailable,area,balconies,bathroom,bhk,carpetarea,facing,floor,locality,neworold,...,price,roadfaceing,status,totalfloor,No of rooms,Pooja room,Servant room,Study room,Age,Area
0,"Lift Available,Car Parking,Power Backup,Indoor...","1,611 sq ft",2,3,3 BHK Apartment,1209 sq ft,West,"3,",Deccan Gymkhana,New,...,27000000,40 feet,Ready to move,6,NaN,NaN,NaN,NaN,2.5,1611
1,"Lift Available,Car Parking,Power Backup,24 X 7...","1,279 sq ft",NaN,2,2 BHK Apartment,NaN,NorthEast,1,Kharadi,New,...,7610050,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5,1279
2,"Lift Available,Car Parking,Power Backup,24 X 7...",670 sq ft,NaN,1,1 BHK Apartment,NaN,NorthEast,1,Sus,New,...,4100000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5,670
3,"Lift Available,Car Parking,Power Backup,24 X 7...",956 sq ft,NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,Bavdhan,New,...,5736000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,2.5,956
4,"Lift Available,Car Parking,Power Backup,24 X 7...","1,706 sq ft",1,3,3 BHK Apartment,1195 sq ft,West,"6,",Deccan Gymkhana,New,...,29002000,60 feet,Ready to move,9,NaN,NaN,NaN,NaN,0.5,1706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...","1,084 sq ft",1,2,2 BHK Apartment,814 sq ft,East,"6,",Baner,New,...,8363000,NaN,Ready to move,12,1,Yes,No,No,0.5,1084
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",953 sq ft,1,2,2 BHK Apartment,706 sq ft,East,"7,",Wakad,New,...,6338000,NaN,Under Construction,12,1,Yes,No,No,NaN,953
37536,"Lift Available,Car Parking,Power Backup,24 X 7...","1,218 sq ft",1,2,2 BHK Apartment,901 sq ft,East,"6,",Hinjewadi,New,...,8100000,NaN,Under Construction,12,1,Yes,No,No,NaN,1218
37537,"Lift Available,Car Parking,Power Backup,24 X 7...","1,074 sq ft",1,2,2 BHK Apartment,796 sq ft,East,"6,",Bavdhan,New,...,7780000,NaN,Under Construction,12,1,Yes,No,No,NaN,1074
37538,"Lift Available,Car Parking,Power Backup,24 X 7...","4,561 sq ft",2,4,4 BHK Apartment,3379 sq ft,West,"6,",Aundh,New,...,47800000,NaN,Under Construction,12,2,Yes,Yes,No,NaN,4561

In [ ]:
data.drop("area", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,bhk,carpetarea,facing,floor,locality,neworold,opensides,...,price,roadfaceing,status,totalfloor,No of rooms,Pooja room,Servant room,Study room,Age,Area
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,3 BHK Apartment,1209 sq ft,West,"3,",Deccan Gymkhana,New,2,...,27000000,40 feet,Ready to move,6,NaN,NaN,NaN,NaN,2.5,1611
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,2 BHK Apartment,NaN,NorthEast,1,Kharadi,New,NaN,...,7610050,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5,1279
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,1 BHK Apartment,NaN,NorthEast,1,Sus,New,NaN,...,4100000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,0.5,670
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,2 BHK Apartment,615 sq ft,NorthEast,1,Bavdhan,New,NaN,...,5736000,NaN,Ready to move,NaN,NaN,NaN,NaN,NaN,2.5,956
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,3 BHK Apartment,1195 sq ft,West,"6,",Deccan Gymkhana,New,2,...,29002000,60 feet,Ready to move,9,NaN,NaN,NaN,NaN,0.5,1706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,2 BHK Apartment,814 sq ft,East,"6,",Baner,New,4,...,8363000,NaN,Ready to move,12,1,Yes,No,No,0.5,1084
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,2 BHK Apartment,706 sq ft,East,"7,",Wakad,New,4,...,6338000,NaN,Under Construction,12,1,Yes,No,No,NaN,953
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,2 BHK Apartment,901 sq ft,East,"6,",Hinjewadi,New,4,...,8100000,NaN,Under Construction,12,1,Yes,No,No,NaN,1218
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,2 BHK Apartment,796 sq ft,East,"6,",Bavdhan,New,4,...,7780000,NaN,Under Construction,12,1,Yes,No,No,NaN,1074
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,4 BHK Apartment,3379 sq ft,West,"6,",Aundh,New,4,...,47800000,NaN,Under Construction,12,2,Yes,Yes,No,NaN,4561

In [ ]:
data.bhk.unique()

array(['3 BHK Apartment ', '2 BHK Apartment ', '1 BHK Apartment ',
       '4 BHK Apartment ', ' Residential Plot ', '1 RK Apartment ',
       '3 BHK Villa ', '5 BHK Villa ', '4 BHK Independent House ',
       '4 BHK Villa ', '2 BHK Independent House ',
       '3 BHK Independent House ', '3 BHK Independent Floor ',
       '1 BHK Villa ', '4 BHK penthouse ', '3 BHK penthouse ',
       '5 BHK Apartment ', '1 BHK Independent Floor ', '2 BHK penthouse ',
       '2 BHK Villa ', '2 BHK Independent Floor ', 'bhk', '8 BHK Villa ',
       '6 BHK Apartment ', '5 BHK Independent House ',
       '1 BHK Independent House ', '1 BHK studio apartment ',
       '0 BHK Villa ', '5 BHK penthouse ', '1 RK Independent House ',
       '6 BHK Villa ', '6 BHK penthouse ', '5 BHK Independent Floor ',
       '4 BHK Independent Floor ', '3 BHK Other Residential ',
       '6 BHK Independent Floor ', '1 RK Independent Floor ',
       '7 BHK Independent House ', '4 BHK Other Residential ',
       '7 BHK Apartment '], dtype=object)

In [ ]:
def claen_bhk(x):
  x.strip().split(" ")
  if x[0].isdigit():
    a = x[1]
    num = x[0]
    if a == "BHK":
      if int(num) == 0:
        return 3
      else:
        return 3 + (int(num) - 1)
    else:
      return 2
  else:
    return np.nan

In [ ]:
data["Total rooms"]=data["bhk"].apply(claen_bhk)

In [ ]:
data[data["bhk"] == "1 BHK studio apartment "]

,amenitiesavailable,balconies,bathroom,bhk,carpetarea,facing,floor,locality,neworold,opensides,...,roadfaceing,status,totalfloor,No of rooms,Pooja room,Servant room,Study room,Age,Area,Total rooms
6712,Car Parking,1,1,1 BHK studio apartment,NaN,East,"2,",Kharadi,Resale,NaN,...,NaN,"Ready to move,Semi-Furnished",4,NaN,NaN,NaN,NaN,4.5,350,2.0
8727,"Lift Available,Car Parking,Power Backup,24 X 7...",1,1,1 BHK studio apartment,400 sq ft,NaN,"16,",Mumbai Pune Highway,New,NaN,...,NaN,Ready to move,21,NaN,NaN,NaN,NaN,0.5,550,2.0
24774,"Car Parking,Power Backup,24 X 7 Security,Lands...",1,1,1 BHK studio apartment,260 sq ft,NaN,"1,",Narhe,Resale,NaN,...,100 feet,"Ready to move,Unfurnished",3,NaN,NaN,NaN,NaN,7.5,325,2.0
28075,"Car Parking,Power Backup,24 X 7 Security,Lands...",1,1,1 BHK studio apartment,260 sq ft,NaN,"1,",Narhe,Resale,NaN,...,100 feet,"Ready to move,Unfurnished",3,NaN,NaN,NaN,NaN,7.5,325,2.0
32715,NaN,NaN,NaN,1 BHK studio apartment,NaN,NaN,NaN,Sadashiv Peth,Resale,NaN,...,NaN,"Ready to move,Unfurnished",NaN,NaN,NaN,NaN,NaN,20.5,175,2.0
35675,"Lift Available,Power Backup,24 X 7 Security",1,1,1 BHK studio apartment,350 sq ft,East,"1,",Pimple Nilakh,Resale,1,...,80 feet,"Ready to move,Unfurnished",4,NaN,NaN,NaN,NaN,5.5,500,2.0

In [ ]:
def check_apperment(x):
  x=str(x)
  if "apartment" in x:
    return "Yes"
  else:
    return "No"
data["Aparment"]=data["bhk"].apply(check_apperment)

In [ ]:
def clean_bhk_residential(x):
  if 'residential plot' in x.lower():
    return 'Yes'
  else:
    return 'No'

def check_penthouse(x):
    x = str(x)
    if "penthouse" in x:
        return "Yes"
    else:
        return "No"

def check_Independent(x):
    x = str(x).lower()
    return "Yes" if "independent" in x else "No"

def check_villa(x):
    x = str(x)
    if "Villa" in x:
        return "Yes"
    else:
        return "No"

data["Villa"] = data["bhk"].apply(check_villa)
data["Independent"] = data["bhk"].apply(check_Independent)
data["Penthouse"] = data["bhk"].apply(check_penthouse)
data["Residential"] = data["bhk"].apply(clean_bhk_residential)

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
bhk                       0
carpetarea            28916
facing                 6619
floor                  5619
locality                  0
neworold                  0
opensides             25933
overlooking           20398
ownership              9382
possesiondate         32802
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
Age                    9901
Area                     20
Total rooms            1269
Aparment                  0
Villa                     0
Independent               0
Penthouse                 0
Residential               0
dtype: int64

In [ ]:
data.drop("bhk", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,carpetarea,facing,floor,locality,neworold,opensides,overlooking,...,Servant room,Study room,Age,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,1209 sq ft,West,"3,",Deccan Gymkhana,New,2,Road View,...,NaN,NaN,2.5,1611,2.0,No,No,No,No,No
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NaN,NorthEast,1,Kharadi,New,NaN,NaN,...,NaN,NaN,0.5,1279,2.0,No,No,No,No,No
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,NaN,NorthEast,1,Sus,New,NaN,NaN,...,NaN,NaN,0.5,670,2.0,No,No,No,No,No
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,615 sq ft,NorthEast,1,Bavdhan,New,NaN,NaN,...,NaN,NaN,2.5,956,2.0,No,No,No,No,No
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,1195 sq ft,West,"6,",Deccan Gymkhana,New,2,Road View,...,NaN,NaN,0.5,1706,2.0,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,814 sq ft,East,"6,",Baner,New,4,Garden View,...,No,No,0.5,1084,2.0,No,No,No,No,No
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,706 sq ft,East,"7,",Wakad,New,4,Garden View,...,No,No,NaN,953,2.0,No,No,No,No,No
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,901 sq ft,East,"6,",Hinjewadi,New,4,Garden View,...,No,No,NaN,1218,2.0,No,No,No,No,No
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,796 sq ft,East,"6,",Bavdhan,New,4,Garden View,...,No,No,NaN,1074,2.0,No,No,No,No,No
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,3379 sq ft,West,"6,",Aundh,New,4,Garden View,...,Yes,No,NaN,4561,2.0,No,No,No,No,No

In [ ]:
def clean_carpet(x):
  x=str(x)
  if x=="nan":
    return np.nan
  else:
    return x.split(" ")[0]
data["Carpetarea"]= data["carpetarea"].apply(clean_carpet)

In [ ]:
data[["carpetarea", "Carpetarea"]]

       carpetarea Carpetarea
0      1209 sq ft       1209
1             NaN        NaN
2             NaN        NaN
3       615 sq ft        615
4      1195 sq ft       1195
...           ...        ...
37534   814 sq ft        814
37535   706 sq ft        706
37536   901 sq ft        901
37537   796 sq ft        796
37538  3379 sq ft       3379

[37538 rows x 2 columns]

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
carpetarea            28916
facing                 6619
floor                  5619
locality                  0
neworold                  0
opensides             25933
overlooking           20398
ownership              9382
possesiondate         32802
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
Age                    9901
Area                     20
Total rooms            1269
Aparment                  0
Villa                     0
Independent               0
Penthouse                 0
Residential               0
Carpetarea            28916
dtype: int64

In [ ]:
data

,amenitiesavailable,balconies,bathroom,carpetarea,facing,floor,locality,neworold,opensides,overlooking,...,Study room,Age,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,1209 sq ft,West,"3,",Deccan Gymkhana,New,2,Road View,...,NaN,2.5,1611,2.0,No,No,No,No,No,1209
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NaN,NorthEast,1,Kharadi,New,NaN,NaN,...,NaN,0.5,1279,2.0,No,No,No,No,No,NaN
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,NaN,NorthEast,1,Sus,New,NaN,NaN,...,NaN,0.5,670,2.0,No,No,No,No,No,NaN
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,615 sq ft,NorthEast,1,Bavdhan,New,NaN,NaN,...,NaN,2.5,956,2.0,No,No,No,No,No,615
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,1195 sq ft,West,"6,",Deccan Gymkhana,New,2,Road View,...,NaN,0.5,1706,2.0,No,No,No,No,No,1195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,814 sq ft,East,"6,",Baner,New,4,Garden View,...,No,0.5,1084,2.0,No,No,No,No,No,814
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,706 sq ft,East,"7,",Wakad,New,4,Garden View,...,No,NaN,953,2.0,No,No,No,No,No,706
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,901 sq ft,East,"6,",Hinjewadi,New,4,Garden View,...,No,NaN,1218,2.0,No,No,No,No,No,901
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,796 sq ft,East,"6,",Bavdhan,New,4,Garden View,...,No,NaN,1074,2.0,No,No,No,No,No,796
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,3379 sq ft,West,"6,",Aundh,New,4,Garden View,...,No,NaN,4561,2.0,No,No,No,No,No,3379

In [ ]:
data.drop("carpetarea", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,facing,floor,locality,neworold,opensides,overlooking,ownership,...,Study room,Age,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,West,"3,",Deccan Gymkhana,New,2,Road View,Co-Operative Society,...,NaN,2.5,1611,2.0,No,No,No,No,No,1209
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Kharadi,New,NaN,NaN,Freehold,...,NaN,0.5,1279,2.0,No,No,No,No,No,NaN
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,NorthEast,1,Sus,New,NaN,NaN,Freehold,...,NaN,0.5,670,2.0,No,No,No,No,No,NaN
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Bavdhan,New,NaN,NaN,Freehold,...,NaN,2.5,956,2.0,No,No,No,No,No,615
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,West,"6,",Deccan Gymkhana,New,2,Road View,Freehold,...,NaN,0.5,1706,2.0,No,No,No,No,No,1195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Baner,New,4,Garden View,Freehold,...,No,0.5,1084,2.0,No,No,No,No,No,814
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"7,",Wakad,New,4,Garden View,Freehold,...,No,NaN,953,2.0,No,No,No,No,No,706
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Hinjewadi,New,4,Garden View,Freehold,...,No,NaN,1218,2.0,No,No,No,No,No,901
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Bavdhan,New,4,Garden View,Freehold,...,No,NaN,1074,2.0,No,No,No,No,No,796
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,West,"6,",Aundh,New,4,Garden View,Freehold,...,No,NaN,4561,2.0,No,No,No,No,No,3379

In [ ]:
data["facing"].unique()

array(['West', 'NorthEast', 'East', 'NorthWest', nan, 'North', 'South',
       'SouthEast', 'facing', 'SouthWest'], dtype=object)

In [ ]:
def clean_nan(x):
  x=str(x)
  if x=="nan":
    return np.nan
  else:
    return x
data["Facing"]=data["facing"].apply(clean_nan)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,facing,floor,locality,neworold,opensides,overlooking,ownership,...,Age,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea,Facing
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,West,"3,",Deccan Gymkhana,New,2,Road View,Co-Operative Society,...,2.5,1611,2.0,No,No,No,No,No,1209,West
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Kharadi,New,NaN,NaN,Freehold,...,0.5,1279,2.0,No,No,No,No,No,NaN,NorthEast
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,NorthEast,1,Sus,New,NaN,NaN,Freehold,...,0.5,670,2.0,No,No,No,No,No,NaN,NorthEast
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Bavdhan,New,NaN,NaN,Freehold,...,2.5,956,2.0,No,No,No,No,No,615,NorthEast
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,West,"6,",Deccan Gymkhana,New,2,Road View,Freehold,...,0.5,1706,2.0,No,No,No,No,No,1195,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Baner,New,4,Garden View,Freehold,...,0.5,1084,2.0,No,No,No,No,No,814,East
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"7,",Wakad,New,4,Garden View,Freehold,...,NaN,953,2.0,No,No,No,No,No,706,East
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Hinjewadi,New,4,Garden View,Freehold,...,NaN,1218,2.0,No,No,No,No,No,901,East
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Bavdhan,New,4,Garden View,Freehold,...,NaN,1074,2.0,No,No,No,No,No,796,East
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,West,"6,",Aundh,New,4,Garden View,Freehold,...,NaN,4561,2.0,No,No,No,No,No,3379,West

In [ ]:
data["Facing"].sample(30)

24234         West
9627          East
5910          East
18569         East
20657         West
22641         East
20477         East
26104         East
35519         East
24391         East
626           East
19021         West
1        NorthEast
10997         East
4623         North
7506          East
15141          NaN
26178         East
19686         East
27586         East
12674    NorthEast
23496         East
26824         East
6628     NorthEast
25685        North
35639        North
20216         East
20990        North
4774          East
21309         East
Name: Facing, dtype: object

In [ ]:
data["Facing"].value_counts()

Facing
East         20783
North         3586
West          3565
NorthEast     1932
South          526
NorthWest      289
SouthEast      126
SouthWest       90
facing          22
Name: count, dtype: int64

In [ ]:
data["floor"].isna().sum()

np.int64(5619)

In [ ]:
data["floor"].unique()

array(['3, ', '1', '6, ', '2, ', '4, ', '1, ', '12, ', '14, ', nan, '7, ',
       '10, ', '8, ', '9, ', '11, ', '5, ', '16, ', '18, ', 'Gr ', '20, ',
       'Gr', '6', '7', '5', '2', '3', '4', '9', '10', '13, ', '21, ',
       '22, ', '24, ', '25, ', '14', '8', '12', '11', 'floor', '15, ',
       '17, ', '19, ', '23, ', '18', '34, ', '13', '27, ', '17', '32, ',
       '15', '20', '31, ', '30, ', '16', '30', '19', '34', '26, '],
      dtype=object)

In [ ]:
def clean_floor(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Gr" in x:
    return 0
  return x.strip().replace("," , "")
data["Floor"]= data["floor"].apply(clean_floor)

In [ ]:
data[["floor" , "Floor"]].sample(30)

      floor Floor
14566   2,      2
25401    Gr     0
5030    1,      1
32412   5,      5
10814   2,      2
19817   1,      1
713     NaN   NaN
18356  12,     12
24908   NaN   NaN
10912   NaN   NaN
11592   1,      1
1743    3,      3
10382     7     7
19534  30,     30
19615    Gr     0
23169   7,      7
29286   7,      7
3343    7,      7
15797   8,      8
33073   NaN   NaN
33110   NaN   NaN
35033   9,      9
6521     Gr     0
35375   8,      8
21184     4     4
2769    NaN   NaN
13708     7     7
15540     2     2
26783   3,      3
5625    4,      4

In [ ]:
data

,amenitiesavailable,balconies,bathroom,facing,floor,locality,neworold,opensides,overlooking,ownership,...,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea,Facing,Floor
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,West,"3,",Deccan Gymkhana,New,2,Road View,Co-Operative Society,...,1611,2.0,No,No,No,No,No,1209,West,3
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Kharadi,New,NaN,NaN,Freehold,...,1279,2.0,No,No,No,No,No,NaN,NorthEast,1
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,NorthEast,1,Sus,New,NaN,NaN,Freehold,...,670,2.0,No,No,No,No,No,NaN,NorthEast,1
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,NorthEast,1,Bavdhan,New,NaN,NaN,Freehold,...,956,2.0,No,No,No,No,No,615,NorthEast,1
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,West,"6,",Deccan Gymkhana,New,2,Road View,Freehold,...,1706,2.0,No,No,No,No,No,1195,West,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Baner,New,4,Garden View,Freehold,...,1084,2.0,No,No,No,No,No,814,East,6
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"7,",Wakad,New,4,Garden View,Freehold,...,953,2.0,No,No,No,No,No,706,East,7
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Hinjewadi,New,4,Garden View,Freehold,...,1218,2.0,No,No,No,No,No,901,East,6
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,East,"6,",Bavdhan,New,4,Garden View,Freehold,...,1074,2.0,No,No,No,No,No,796,East,6
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,West,"6,",Aundh,New,4,Garden View,Freehold,...,4561,2.0,No,No,No,No,No,3379,West,6

In [ ]:
data.drop(["facing" , "floor"] , axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,neworold,opensides,overlooking,ownership,possesiondate,price,...,Area,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea,Facing,Floor
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,Deccan Gymkhana,New,2,Road View,Co-Operative Society,NaN,27000000,...,1611,2.0,No,No,No,No,No,1209,West,3
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Kharadi,New,NaN,NaN,Freehold,NaN,7610050,...,1279,2.0,No,No,No,No,No,NaN,NorthEast,1
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Sus,New,NaN,NaN,Freehold,NaN,4100000,...,670,2.0,No,No,No,No,No,NaN,NorthEast,1
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Bavdhan,New,NaN,NaN,Freehold,NaN,5736000,...,956,2.0,No,No,No,No,No,615,NorthEast,1
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Deccan Gymkhana,New,2,Road View,Freehold,NaN,29002000,...,1706,2.0,No,No,No,No,No,1195,West,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Baner,New,4,Garden View,Freehold,NaN,8363000,...,1084,2.0,No,No,No,No,No,814,East,6
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wakad,New,4,Garden View,Freehold,Dec-19,6338000,...,953,2.0,No,No,No,No,No,706,East,7
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Hinjewadi,New,4,Garden View,Freehold,Dec-20,8100000,...,1218,2.0,No,No,No,No,No,901,East,6
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Bavdhan,New,4,Garden View,Freehold,Dec-18,7780000,...,1074,2.0,No,No,No,No,No,796,East,6
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,Aundh,New,4,Garden View,Freehold,Jun-18,47800000,...,4561,2.0,No,No,No,No,No,3379,West,6

In [ ]:
data["locality"]

0        Deccan Gymkhana
1                Kharadi
2                    Sus
3                Bavdhan
4        Deccan Gymkhana
              ...
37534              Baner
37535              Wakad
37536          Hinjewadi
37537            Bavdhan
37538              Aundh
Name: locality, Length: 37538, dtype: object

In [ ]:
data["neworold"].unique()

array(['New', 'Resale', 'neworold'], dtype=object)

In [ ]:
def clean_new(x):
  if x =="Resale":
    return "Old"
  return x
data["Neworold"]=data["neworold"].apply(clean_new)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,neworold,opensides,overlooking,ownership,possesiondate,price,...,Total rooms,Aparment,Villa,Independent,Penthouse,Residential,Carpetarea,Facing,Floor,Neworold
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,Deccan Gymkhana,New,2,Road View,Co-Operative Society,NaN,27000000,...,2.0,No,No,No,No,No,1209,West,3,New
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Kharadi,New,NaN,NaN,Freehold,NaN,7610050,...,2.0,No,No,No,No,No,NaN,NorthEast,1,New
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Sus,New,NaN,NaN,Freehold,NaN,4100000,...,2.0,No,No,No,No,No,NaN,NorthEast,1,New
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Bavdhan,New,NaN,NaN,Freehold,NaN,5736000,...,2.0,No,No,No,No,No,615,NorthEast,1,New
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Deccan Gymkhana,New,2,Road View,Freehold,NaN,29002000,...,2.0,No,No,No,No,No,1195,West,6,New
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Baner,New,4,Garden View,Freehold,NaN,8363000,...,2.0,No,No,No,No,No,814,East,6,New
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wakad,New,4,Garden View,Freehold,Dec-19,6338000,...,2.0,No,No,No,No,No,706,East,7,New
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Hinjewadi,New,4,Garden View,Freehold,Dec-20,8100000,...,2.0,No,No,No,No,No,901,East,6,New
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Bavdhan,New,4,Garden View,Freehold,Dec-18,7780000,...,2.0,No,No,No,No,No,796,East,6,New
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,Aundh,New,4,Garden View,Freehold,Jun-18,47800000,...,2.0,No,No,No,No,No,3379,West,6,New

In [ ]:
data.drop("neworold", axis=1, inplace=True)

In [ ]:
data["opensides"].unique()

array(['2', nan, '3', '1', '4', 'opensides'], dtype=object)

In [ ]:
data["overlooking"].unique()

array(['Road View', nan, 'Garden View, Pool View, Road View',
       'Corner, Garden View, Road View', 'Road View, Garden View',
       'Corner, Garden View, Pool View, Road View', 'Corner',
       'Corner, Garden View', 'Road View, Corner', 'Garden View',
       'Pool View, Garden View', 'Corner, Pool View, Road View',
       'Pool View', 'Road View, Pool View', 'Pool View, Corner',
       'overlooking', 'Corner, Garden View, Pool View'], dtype=object)

In [ ]:
def clean_garden(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Garden" in x:
    return "Yes"
  else:
    return "No"
data["Garden View"]= data["overlooking"].apply(clean_garden)

In [ ]:
data[["overlooking" , "Garden View"]].sample(30)

                                     overlooking Garden View
35910                                Garden View         Yes
2032   Corner, Garden View, Pool View, Road View         Yes
32309                                        NaN         NaN
36991                                Garden View         Yes
747            Garden View, Pool View, Road View         Yes
1320                                         NaN         NaN
7737                                         NaN         NaN
33985                     Road View, Garden View         Yes
18595                                        NaN         NaN
18493                                        NaN         NaN
1236                                 Garden View         Yes
472                                  Garden View         Yes
23794                                        NaN         NaN
13941                                        NaN         NaN
22225                     Pool View, Garden View         Yes
23174                     Road View, Garden View         Yes
28464                                        NaN         NaN
4628                                         NaN         NaN
6712                                         NaN         NaN
4736           Garden View, Pool View, Road View         Yes
35121                                  Road View          No
28984                                        NaN         NaN
12666                                        NaN         NaN
9478                                         NaN         NaN
25467                                        NaN         NaN
12862                                        NaN         NaN
19584                                        NaN         NaN
7311                      Pool View, Garden View         Yes
22295                                        NaN         NaN
4556                                         NaN         NaN

In [ ]:
def clean_pool(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Pool" in x:
    return "Yes"
  else:
    return "No"

def clean_corner(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Corner" in x:
    return "Yes"
  else:
    return "No"

def clean_road(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Road" in x:
    return "Yes"
  else:
    return "No"

data["Road View"]= data["overlooking"].apply(clean_road)
data["Corner View"]= data["overlooking"].apply(clean_corner)
data["Pool View"]= data["overlooking"].apply(clean_pool)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,opensides,overlooking,ownership,possesiondate,price,roadfaceing,...,Penthouse,Residential,Carpetarea,Facing,Floor,Neworold,Garden View,Road View,Corner View,Pool View
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,Deccan Gymkhana,2,Road View,Co-Operative Society,NaN,27000000,40 feet,...,No,No,1209,West,3,New,No,Yes,No,No
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Kharadi,NaN,NaN,Freehold,NaN,7610050,NaN,...,No,No,NaN,NorthEast,1,New,NaN,NaN,NaN,NaN
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Sus,NaN,NaN,Freehold,NaN,4100000,NaN,...,No,No,NaN,NorthEast,1,New,NaN,NaN,NaN,NaN
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Bavdhan,NaN,NaN,Freehold,NaN,5736000,NaN,...,No,No,615,NorthEast,1,New,NaN,NaN,NaN,NaN
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Deccan Gymkhana,2,Road View,Freehold,NaN,29002000,60 feet,...,No,No,1195,West,6,New,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Baner,4,Garden View,Freehold,NaN,8363000,NaN,...,No,No,814,East,6,New,Yes,No,No,No
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wakad,4,Garden View,Freehold,Dec-19,6338000,NaN,...,No,No,706,East,7,New,Yes,No,No,No
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Hinjewadi,4,Garden View,Freehold,Dec-20,8100000,NaN,...,No,No,901,East,6,New,Yes,No,No,No
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Bavdhan,4,Garden View,Freehold,Dec-18,7780000,NaN,...,No,No,796,East,6,New,Yes,No,No,No
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,Aundh,4,Garden View,Freehold,Jun-18,47800000,NaN,...,No,No,3379,West,6,New,Yes,No,No,No

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
locality                  0
opensides             25933
overlooking           20398
ownership              9382
possesiondate         32802
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
Age                    9901
Area                     20
Total rooms            1269
Aparment                  0
Villa                     0
Independent               0
Penthouse                 0
Residential               0
Carpetarea            28916
Facing                 6619
Floor                  5619
Neworold                  0
Garden View           20398
Road View             20398
Corner View           20398
Pool View             20398
dtype: int64

In [ ]:
data.drop("overlooking", axis=1, inplace=True)

In [ ]:
data["ownership"].unique()

array(['Co-Operative Society', 'Freehold', nan, 'Power of Attorney',
       'ownership', 'Leasehol'], dtype=object)

In [ ]:
data["ownership"].value_counts()

ownership
Freehold                25366
Co-Operative Society     2616
Leasehol                  105
Power of Attorney          47
ownership                  22
Name: count, dtype: int64

In [ ]:
data["possesiondate"].unique()

array([nan, 'Nov-19', 'Mar-18', 'Dec-18', 'Dec-19', 'Jul-19', 'Dec-20',
       'Dec-21', 'Sep-18', 'Jun-18', 'Apr-19', 'Apr-18', 'Aug-18',
       'Sep-20', 'Dec-25', 'Oct-18', 'Mar-20', 'Mar-19', 'Jul-18',
       'Jun-19', 'Nov-18', 'Aug-20', 'Dec-22', 'Sep-19', 'May-19',
       'May-18', 'Feb-19', 'Jan-19', 'Jan-18', 'Feb-18', 'Feb-20',
       'possesiondate', 'Sep-21', 'Aug-19', 'Oct-19', 'Jun-21', 'Oct-22',
       'Jun-20', 'Mar-21', 'Nov-21', 'Sep-22', 'Jul-20', 'Nov-20',
       'Dec-23', 'Oct-21', 'Jul-21', 'Jan-20', 'Feb-21', 'May-20',
       'Aug-21', 'Feb-22', 'Mar-22', 'May-21'], dtype=object)

In [ ]:
data.shape

(37538, 31)

In [ ]:
rowdrop = np.array(data[data["possesiondate"] == "possesiondate"].index)

In [ ]:
data.drop(rowdrop, inplace=True)

In [ ]:
data.shape

(37516, 31)

In [ ]:
data["possesiondate"].unique()

array([nan, 'Nov-19', 'Mar-18', 'Dec-18', 'Dec-19', 'Jul-19', 'Dec-20',
       'Dec-21', 'Sep-18', 'Jun-18', 'Apr-19', 'Apr-18', 'Aug-18',
       'Sep-20', 'Dec-25', 'Oct-18', 'Mar-20', 'Mar-19', 'Jul-18',
       'Jun-19', 'Nov-18', 'Aug-20', 'Dec-22', 'Sep-19', 'May-19',
       'May-18', 'Feb-19', 'Jan-19', 'Jan-18', 'Feb-18', 'Feb-20',
       'Sep-21', 'Aug-19', 'Oct-19', 'Jun-21', 'Oct-22', 'Jun-20',
       'Mar-21', 'Nov-21', 'Sep-22', 'Jul-20', 'Nov-20', 'Dec-23',
       'Oct-21', 'Jul-21', 'Jan-20', 'Feb-21', 'May-20', 'Aug-21',
       'Feb-22', 'Mar-22', 'May-21'], dtype=object)

In [ ]:
def clean_year(x):
  x=str(x)
  if x=="nan":
    return np.nan
  return x.split("-")[-1]
data["PossesionYear"]= data["possesiondate"].apply(clean_year)

In [ ]:
def clean_month(x):
  x=str(x)
  if x=="nan":
    return np.nan
  return x.split("-")[0]
data["PossesionMonth"]= data["possesiondate"].apply(clean_month)

In [ ]:
data[["possesiondate" , "PossesionYear", "PossesionMonth"]].sample(30)

      possesiondate PossesionYear PossesionMonth
28862           NaN           NaN            NaN
34793        Dec-18            18            Dec
35072           NaN           NaN            NaN
10266        Jun-18            18            Jun
18525           NaN           NaN            NaN
25278           NaN           NaN            NaN
31782           NaN           NaN            NaN
36452           NaN           NaN            NaN
25379           NaN           NaN            NaN
1521            NaN           NaN            NaN
33261           NaN           NaN            NaN
4071            NaN           NaN            NaN
17607           NaN           NaN            NaN
25872           NaN           NaN            NaN
30346           NaN           NaN            NaN
19021           NaN           NaN            NaN
22245           NaN           NaN            NaN
21096           NaN           NaN            NaN
2527            NaN           NaN            NaN
4750            NaN           NaN            NaN
9561         Oct-18            18            Oct
4626            NaN           NaN            NaN
29675           NaN           NaN            NaN
35297        Dec-18            18            Dec
29011           NaN           NaN            NaN
33835           NaN           NaN            NaN
22051           NaN           NaN            NaN
14970           NaN           NaN            NaN
2308         Dec-18            18            Dec
25698           NaN           NaN            NaN

In [ ]:
data.drop("possesiondate", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,opensides,ownership,price,roadfaceing,status,totalfloor,...,Carpetarea,Facing,Floor,Neworold,Garden View,Road View,Corner View,Pool View,PossesionYear,PossesionMonth
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,Deccan Gymkhana,2,Co-Operative Society,27000000,40 feet,Ready to move,6,...,1209,West,3,New,No,Yes,No,No,NaN,NaN
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Kharadi,NaN,Freehold,7610050,NaN,Ready to move,NaN,...,NaN,NorthEast,1,New,NaN,NaN,NaN,NaN,NaN,NaN
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Sus,NaN,Freehold,4100000,NaN,Ready to move,NaN,...,NaN,NorthEast,1,New,NaN,NaN,NaN,NaN,NaN,NaN
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Bavdhan,NaN,Freehold,5736000,NaN,Ready to move,NaN,...,615,NorthEast,1,New,NaN,NaN,NaN,NaN,NaN,NaN
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Deccan Gymkhana,2,Freehold,29002000,60 feet,Ready to move,9,...,1195,West,6,New,No,Yes,No,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Baner,4,Freehold,8363000,NaN,Ready to move,12,...,814,East,6,New,Yes,No,No,No,NaN,NaN
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wakad,4,Freehold,6338000,NaN,Under Construction,12,...,706,East,7,New,Yes,No,No,No,19,Dec
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Hinjewadi,4,Freehold,8100000,NaN,Under Construction,12,...,901,East,6,New,Yes,No,No,No,20,Dec
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Bavdhan,4,Freehold,7780000,NaN,Under Construction,12,...,796,East,6,New,Yes,No,No,No,18,Dec
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,Aundh,4,Freehold,47800000,NaN,Under Construction,12,...,3379,West,6,New,Yes,No,No,No,18,Jun

In [ ]:
data["roadfaceing"].unique()

array(['40 feet', nan, '60 feet', '25 feet', '50 feet', '20 feet',
       '100 feet', '30 feet', '15 feet', '80 feet', '10 feet', '120 feet',
       '45 feet', '36 feet', '32 feet', '90 feet', '150 feet', '200 feet',
       '7 feet', '180 feet', '35 feet', '65 feet', '219 feet', '196 feet',
       '209 feet', '70 feet', '18 feet', '98 feet', '250 feet', '42 feet',
       '38 feet', '400 feet', '6 feet', '131 feet', '34 feet', '48 feet',
       '55 feet', '19 feet', '164 feet', '328 feet', '8 feet', '26 feet',
       '29 feet', '110 feet', '16 feet', '350 feet', '9 feet', '22 feet',
       '656 feet', '12 feet', '39 feet', '59 feet', '300 feet', '82 feet',
       '72 feet', '271 feet', '295 feet', '23 feet', '68 feet', '49 feet',
       '14 feet', '160 feet', '27 feet', '13 feet', '66 feet', '262 feet',
       '17 feet', '1 feet', '984 feet', '52 feet', '54 feet', '1000 feet',
       '2 feet', '500 feet', '780 feet', '85 feet', '5 feet', '24 feet',
       '170 feet', '11 feet', '6561 feet', '492 feet', '190 feet',
       '114 feet'], dtype=object)

In [ ]:
def clean_roadfaceing(x):
  x=str(x)
  if x=="nan":
    return np.nan
  return x.strip().split(" ")[0]
data["Road feet"]=data["roadfaceing"].apply(clean_roadfaceing)

In [ ]:
data[["roadfaceing", "Road feet"]]

      roadfaceing Road feet
0         40 feet        40
1             NaN       NaN
2             NaN       NaN
3             NaN       NaN
4         60 feet        60
...           ...       ...
37534         NaN       NaN
37535         NaN       NaN
37536         NaN       NaN
37537         NaN       NaN
37538         NaN       NaN

[37516 rows x 2 columns]

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
locality                  0
opensides             25933
ownership              9382
price                     0
roadfaceing           30663
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
Age                    9901
Area                     20
Total rooms            1247
Aparment                  0
Villa                     0
Independent               0
Penthouse                 0
Residential               0
Carpetarea            28916
Facing                 6619
Floor                  5619
Neworold                  0
Garden View           20398
Road View             20398
Corner View           20398
Pool View             20398
PossesionYear         32802
PossesionMonth        32802
Road feet             30663
dtype: int64

In [ ]:
data.drop("roadfaceing", axis=1, inplace=True)

In [ ]:
data["totalfloor"].unique()

array(['6', nan, '9', '10', '15', '27', '5', '12', '21', '3', '4', '13',
       '23', '24', '16', '31', '14', '19', '22', '18', '7', '2', '11',
       '20', '1', '8', '25', '28', '34', '30', '17', '29', '26', '35',
       '32'], dtype=object)

In [ ]:
data["status"].unique()

array(['Ready to move', 'Ready to move,Unfurnished', 'Under Construction',
       'Ready to move,Furnished', 'Unfurnished',
       'Ready to move,Semi-Furnished',
       'Under Construction,Semi-Furnished', nan,
       'Under Construction,Unfurnished', 'Semi-Furnished', 'Furnished',
       'Under Construction,Furnished'], dtype=object)

In [ ]:
def clean_ready(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Ready" in x:
    return "Yes"
  else:
    return "No"
def clean_under(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Under" in x:
    return "Yes"
  else:
    return "No"
def clean_unfurnished(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Unfurnished" in x:
    return "Yes"
  else:
    return "No"
def clean_semi(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Semi" in x:
    return "Yes"
  else:
    return "No"
def clean_furnished(x):
  x=str(x)
  if x=="nan":
    return np.nan
  elif "Furnished" in x:
    return "Yes"
  else:
    return "No"
data["Ready to Move"]= data["status"].apply(clean_ready)
data["Under Construction"]= data["status"].apply(clean_under)
data["Unfurnished"]= data["status"].apply(clean_unfurnished)
data["Semi Furnished"]= data["status"].apply(clean_semi)
data["Furnished"]= data["status"].apply(clean_furnished)

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
locality                  0
opensides             25933
ownership              9382
price                     0
status                 1460
totalfloor            13424
No of rooms           28217
Pooja room            28217
Servant room          28217
Study room            28217
Age                    9901
Area                     20
Total rooms            1247
Aparment                  0
Villa                     0
Independent               0
Penthouse                 0
Residential               0
Carpetarea            28916
Facing                 6619
Floor                  5619
Neworold                  0
Garden View           20398
Road View             20398
Corner View           20398
Pool View             20398
PossesionYear         32802
PossesionMonth        32802
Road feet             30663
Ready to Move          1460
Under Construction     1460
Unfurnished            1460
Semi Furnished         1460
Furnished              1460
dtype: int64

In [ ]:
data.drop("status", axis=1, inplace=True)

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,opensides,ownership,price,totalfloor,No of rooms,Pooja room,...,Corner View,Pool View,PossesionYear,PossesionMonth,Road feet,Ready to Move,Under Construction,Unfurnished,Semi Furnished,Furnished
0,"Lift Available,Car Parking,Power Backup,Indoor...",2,3,Deccan Gymkhana,2,Co-Operative Society,27000000,6,NaN,NaN,...,No,No,NaN,NaN,40,Yes,No,No,No,No
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Kharadi,NaN,Freehold,7610050,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Yes,No,No,No,No
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Sus,NaN,Freehold,4100000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Yes,No,No,No,No
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Bavdhan,NaN,Freehold,5736000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Yes,No,No,No,No
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Deccan Gymkhana,2,Freehold,29002000,9,NaN,NaN,...,No,No,NaN,NaN,60,Yes,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37534,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Baner,4,Freehold,8363000,12,1,Yes,...,No,No,NaN,NaN,NaN,Yes,No,No,No,No
37535,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wakad,4,Freehold,6338000,12,1,Yes,...,No,No,19,Dec,NaN,No,Yes,No,No,No
37536,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Hinjewadi,4,Freehold,8100000,12,1,Yes,...,No,No,20,Dec,NaN,No,Yes,No,No,No
37537,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Bavdhan,4,Freehold,7780000,12,1,Yes,...,No,No,18,Dec,NaN,No,Yes,No,No,No
37538,"Lift Available,Car Parking,Power Backup,24 X 7...",2,4,Aundh,4,Freehold,47800000,12,2,Yes,...,No,No,18,Jun,NaN,No,Yes,No,No,No

In [ ]:
data["amenitiesavailable"].unique()

array(['Lift Available,Car Parking,Power Backup,Indoor Games,Intercom,Landscaped Gardens,Gas connection',
       'Lift Available,Car Parking,Power Backup,24 X 7 Security,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Jogging Track,Rain Water Harvesting',
       "Lift Available,Car Parking,Power Backup,24 X 7 Security,Children's play area,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Indoor Games,Jogging Track,Maintenance Staff,Intercom,Rain Water Harvesting,Staff Quarter,Landscaped Gardens",
       ...,
       'Car Parking,24 X 7 Security,Vaastu Compliant,Shopping Mall,School,Hospital,ATM,Refrigerator',
       "Car Parking,Power Backup,Children's play area,Vaastu Compliant,Gymnasium,Sports Facility,Jogging Track,Maintenance Staff,Rain Water Harvesting,Multipurpose Room,Landscaped Gardens,Shopping Mall,School,Hospital,ATM,Wardrobe",
       "Lift Available,Car Parking,Power Backup,24 X 7 Security,Children's play area,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Sports Facility,Indoor Games,Jogging Track,Maintenance Staff,Intercom,Cafeteria,Rain Water Harvesting,Staff Quarter,Multipurpose Room,Landscaped Gardens,Shopping Mall,School,Hospital,ATM,Refrigerator,Gas connection"],
      dtype=object)

In [ ]:
a=np.array(data["amenitiesavailable"].dropna())  # no change in orignal

In [ ]:
a.max()

'Wifi,Gas connection'

In [ ]:
a

array(['Lift Available,Car Parking,Power Backup,Indoor Games,Intercom,Landscaped Gardens,Gas connection',
       'Lift Available,Car Parking,Power Backup,24 X 7 Security,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Jogging Track,Rain Water Harvesting',
       "Lift Available,Car Parking,Power Backup,24 X 7 Security,Children's play area,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Indoor Games,Jogging Track,Maintenance Staff,Intercom,Rain Water Harvesting,Staff Quarter,Landscaped Gardens",
       ...,
       'Lift Available,Car Parking,Power Backup,24 X 7 Security,Swimming Pool,Landscaped Gardens',
       'Lift Available,Car Parking,Power Backup,24 X 7 Security,Swimming Pool,Landscaped Gardens',
       'Lift Available,Car Parking,Power Backup,24 X 7 Security,Swimming Pool,Landscaped Gardens,AC'],
      dtype=object)

In [ ]:
b = []
for i in a:
  b.append(len(i))

In [ ]:
b

[95,
 143,
 237,
 173,
 136,
 178,
 219,
 200,
 244,
 145,
 248,
 248,
 84,
 260,
 94,
 258,
 232,
 155,
 196,
 73,
 243,
 89,
 271,
 223,
 353,
 308,
 135,
 161,
 88,
 88,
 88,
 88,
 11,
 151,
 274,
 88,
 190,
 164,
 83,
 165,
 286,
 74,
 208,
 208,
 133,
 149,
 206,
 30,
 155,
 200,
 206,
 14,
 257,
 286,
 124,
 309,
 290,
 278,
 209,
 258,
 220,
 165,
 248,
 74,
 186,
 163,
 137,
 196,
 2,
 2,
 74,
 290,
 208,
 147,
 134,
 262,
 310,
 239,
 278,
 261,
 197,
 281,
 239,
 239,
 239,
 147,
 74,
 172,
 133,
 243,
 277,
 233,
 165,
 239,
 281,
 145,
 74,
 273,
 74,
 296,
 160,
 55,
 106,
 237,
 152,
 88,
 98,
 331,
 248,
 131,
 209,
 209,
 234,
 145,
 263,
 316,
 209,
 248,
 219,
 237,
 240,
 139,
 241,
 282,
 165,
 224,
 209,
 209,
 209,
 74,
 88,
 74,
 178,
 281,
 248,
 283,
 283,
 237,
 240,
 235,
 155,
 165,
 237,
 289,
 141,
 248,
 74,
 70,
 254,
 165,
 164,
 178,
 235,
 74,
 55,
 74,
 237,
 271,
 74,
 74,
 165,
 74,
 155,
 108,
 257,
 149,
 239,
 239,
 239,
 237,
 237,
 155,
 166,
 166,
 166,
 209,
 281,
 143,
 248,
 74,
 145,
 217,
 217,
 217,
 217,
 293,
 197,
 288,
 178,
 164,
 309,
 363,
 200,
 253,
 253,
 61,
 194,
 142,
 185,
 74,
 79,
 239,
 187,
 187,
 234,
 234,
 234,
 146,
 90,
 74,
 271,
 207,
 207,
 200,
 200,
 237,
 271,
 253,
 253,
 237,
 237,
 106,
 249,
 207,
 260,
 291,
 178,
 165,
 200,
 139,
 48,
 241,
 241,
 241,
 241,
 281,
 241,
 241,
 241,
 241,
 241,
 234,
 160,
 237,
 65,
 173,
 173,
 173,
 173,
 283,
 283,
 143,
 143,
 178,
 237,
 209,
 245,
 165,
 237,
 237,
 81,
 143,
 143,
 257,
 237,
 237,
 237,
 86,
 253,
 110,
 239,
 239,
 281,
 281,
 157,
 281,
 281,
 281,
 232,
 224,
 241,
 241,
 237,
 200,
 143,
 237,
 219,
 237,
 237,
 76,
 178,
 210,
 210,
 210,
 210,
 210,
 260,
 271,
 271,
 143,
 214,
 96,
 237,
 74,
 49,
 200,
 233,
 164,
 241,
 241,
 173,
 200,
 237,
 245,
 245,
 239,
 208,
 253,
 97,
 289,
 200,
 36,
 281,
 157,
 2,
 2,
 158,
 273,
 246,
 157,
 143,
 157,
 157,
 157,
 157,
 157,
 215,
 40,
 206,
 162,
 43,
 55,
 177,
 143,
 268,
 191,
 253,
 234,
 255,
 157,
 157,
 214,
 214,
 245,
 245,
 237,
 248,
 248,
 157,
 244,
 157,
 241,
 157,
 250,
 80,
 206,
 203,
 12,
 194,
 157,
 210,
 90,
 267,
 248,
 157,
 157,
 157,
 239,
 239,
 232,
 88,
 55,
 205,
 114,
 114,
 194,
 194,
 291,
 258,
 61,
 246,
 281,
 210,
 273,
 273,
 240,
 273,
 285,
 55,
 55,
 55,
 55,
 55,
 55,
 15,
 16,
 237,
 240,
 242,
 253,
 111,
 258,
 296,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 8,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 90,
 2,
 95,
 80,
 241,
 157,
 157,
 157,
 157,
 157,
 157,
 157,
 157,
 143,
 157,
 157,
 157,
 178,
 291,
 246,
 59,
 2,
 290,
 289,
 249,
 281,
 261,
 270,
 197,
 114,
 129,
 158,
 158,
 248,
 157,
 157,
 157,
 36,
 36,
 32,
 195,
 293,
 249,
 230,
 157,
 206,
 250,
 209,
 253,
 253,
 267,
 51,
 261,
 269,
 314,
 277,
 157,
 157,
 157,
 243,
 157,
 74,
 2,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 302,
 29,
 253,
 223,
 119,
 206,
 223,
 237,
 12,
 203,
 130,
 252,
 88,
 239,
 239,
 206,
 265,
 194,
 268,
 211,
 259,
 152,
 20,
 16,
 11,
 46,
 46,
 46,
 46,
 46,
 46,
 210,
 253,
 88,
 152,
 97,
 11,
 226,
 255,
 64,
 11,
 327,
 88,
 11,
 186,
 107,
 143,
 86,
 86,
 86,
 86,
 249,
 187,
 147,
 195,
 323,
 146,
 222,
 88,
 57,
 132,
 103,
 210,
 273,
 46,
 46,
 46,
 46,
 46,
 46,
 217,
 327,
 327,
 131,
 290,
 327,
 32,
 32,
 32,
 312,
 168,
 25,
 60,
 60,
 60,
 152,
 197,
 295,
 8,
 111,
 154,
 143,
 157,
 149,
 123,
 225,
 2,
 2,
 129,
 169,
 210,
 269,
 133,
 153,
 126,
 316,
 217,
 189,
 214,
 237,
 57,
 189,
 161,
 340,
 278,
 262,
 262,
 182,
 293,
 88,
 252,
 293,
 296,
 293,
 124,
 169,
 172,
 249,
 326,
 130,
 327,
 345,
 351,
 305,
 287,
 305,
 287,
 28,
 71,
 238,
 315,
 46,
 32,
 32,
 32,
 32,
 32,
 32,
 29,
 32,
 230,
 227,
 56,
 43,
 169,
 88,
 181,
 207,
 80,
 32,
 32,
 32,
 239,
 305,
 327,
 167,
 157,
 241,
 73,
 77,
 238,
 210,
 202,
 27,
 14,
 88,
 296,
 293,
 219,
 327,
 83,
 11,
 108,
 87,
 211,
 111,
 251,
 276,
 255,
 230,
 268,
 55,
 83,
 197,
 177,
 202,
 272,
 174,
 139,
 276,
 110,
 24,
 318,
 88,
 313,
 244,
 86,
 282,
 129,
 210,
 308,
 327,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 80,
 86,
 86,
 86,
 86,
 3,
 11,
 273,
 88,
 157,
 136,
 320,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 15,
 279,
 128,
 164,
 279,
 280,
 323,
 228,
 126,
 252,
 315,
 314,
 288,
 293,
 250,
 180,
 15,
 108,
 176,
 228,
 210,
 206,
 246,
 237,
 237,
 157,
 215,
 215,
 157,
 143,
 157,
 157,
 266,
 249,
 129,
 11,
 15,
 11,
 77,
 77,
 67,
 59,
 276,
 276,
 299,
 281,
 280,
 266,
 240,
 215,
 92,
 249,
 249,
 208,
 264,
 32,
 58,
 88,
 330,
 88,
 88,
 88,
 315,
 177,
 293,
 130,
 176,
 202,
 191,
 165,
 46,
 225,
 200,
 157,
 191,
 191,
 189,
 401,
 104,
 213,
 177,
 327,
 157,
 283,
 150,
 86,
 196,
 186,
 58,
 58,
 237,
 168,
 315,
 212,
 240,
 218,
 157,
 157,
 243,
 178,
 203,
 223,
 203,
 203,
 203,
 143,
 198,
 168,
 224,
 195,
 271,
 195,
 195,
 228,
 258,
 258,
 112,
 232,
 289,
 167,
 174,
 174,
 158,
 244,
 127,
 191,
 239,
 210,
 42,
 130,
 168,
 217,
 162,
 223,
 31,
 292,
 327,
 324,
 328,
 221,
 273,
 150,
 88,
 154,
 231,
 274,
 176,
 231,
 147,
 226,
 231,
 88,
 88,
 253,
 86,
 46,
 46,
 46,
 46,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 86,
 11,
 178,
 208,
 143,
 240,
 258,
 253,
 188,
 126,
 240,
 126,
 178,
 274,
 258,
 165,
 177,
 58,
 240,
 292,
 201,
 277,
 231,
 327,
 273,
 43,
 28,
 226,
 252,
 179,
 88,
 91,
 88,
 88,
 88,
 88,
 88,
 88,
 330,
 232,
 253,
 93,
 216,
 80,
 279,
 ...]

In [ ]:
np.array(b)

array([ 95, 143, 237, ...,  88,  88,  91])

In [ ]:
np.argmax(np.array(b))  # argmax fun is use for find max value index ( ji pn max senence ahe tyacha index)

np.int64(5474)

In [ ]:
a[5474]

"Lift Available,Car Parking,Power Backup,24 X 7 Security,Children's play area,Vaastu Compliant,Club House,Gymnasium,Swimming Pool,Sports Facility,Indoor Games,Jogging Track,Maintenance Staff,Intercom,Golf Course,Cafeteria,Rain Water Harvesting,Staff Quarter,Multipurpose Room,Landscaped Gardens,Shopping Mall,School,Hospital,ATM,AC,Wardrobe,TV,Refrigerator,Sofa,Washing Machine,Wifi,Microwave,Dining Table,Gas connection,BED"

In [ ]:
max_string = a[5474]

In [ ]:
list = max_string.split(",")

In [ ]:
list

['Lift Available',
 'Car Parking',
 'Power Backup',
 '24 X 7 Security',
 "Children's play area",
 'Vaastu Compliant',
 'Club House',
 'Gymnasium',
 'Swimming Pool',
 'Sports Facility',
 'Indoor Games',
 'Jogging Track',
 'Maintenance Staff',
 'Intercom',
 'Golf Course',
 'Cafeteria',
 'Rain Water Harvesting',
 'Staff Quarter',
 'Multipurpose Room',
 'Landscaped Gardens',
 'Shopping Mall',
 'School',
 'Hospital',
 'ATM',
 'AC',
 'Wardrobe',
 'TV',
 'Refrigerator',
 'Sofa',
 'Washing Machine',
 'Wifi',
 'Microwave',
 'Dining Table',
 'Gas connection',
 'BED']

In [ ]:
for i in list:
  def clean_abc(x):
    x=str(x)
    if x == "nan":
      return np.nan
    elif i in x:
      return "Yes"
    else:
      return "No"
  data[i]=data["amenitiesavailable"].apply(clean_abc)

In [ ]:
data.isna().sum()

amenitiesavailable     3093
balconies             15627
bathroom               2871
locality                  0
opensides             25933
                      ...
Wifi                   3093
Microwave              3093
Dining Table           3093
Gas connection         3093
BED                    3093
Length: 71, dtype: int64

In [ ]:
data.sample(30)

,amenitiesavailable,balconies,bathroom,locality,opensides,ownership,price,totalfloor,No of rooms,Pooja room,...,Wardrobe,TV,Refrigerator,Sofa,Washing Machine,Wifi,Microwave,Dining Table,Gas connection,BED
6669,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,3,Kharadi,NaN,Freehold,10975000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
17485,"Lift Available,Car Parking,Power Backup,24 X 7...",4,4,Boat Club Road,NaN,Freehold,54300000,13,1,No,...,No,No,No,No,No,No,No,No,No,No
30153,"Lift Available,Car Parking,Power Backup,Vaastu...",3,2,Hinjewadi,2,Freehold,4950000,13,2,Yes,...,No,No,No,No,No,No,No,No,No,No
19670,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,3,Kalyani Nagar,NaN,Co-Operative Society,14000000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
35841,AC,3,5,Kalyani Nagar,4,Freehold,157400000,23,3,Yes,...,No,No,No,No,No,No,No,No,No,No
23243,"Car Parking,24 X 7 Security,Children's play ar...",NaN,2,Dhayari,1,NaN,6000000,11,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
23819,"Lift Available,Car Parking,Power Backup,24 X 7...",1,1,Dhanori,NaN,Freehold,5500000,11,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
33947,"Lift Available,Car Parking,Power Backup,24 X 7...",2,3,Baner,2,Co-Operative Society,13000000,16,3,Yes,...,No,No,No,No,No,No,No,No,No,No
20103,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Viman Nagar,NaN,Freehold,8000000,6,1,No,...,Yes,No,Yes,Yes,Yes,No,Yes,Yes,No,Yes
22596,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Koregaon Park,NaN,Freehold,9200000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
27381,"Lift Available,Car Parking,Power Backup,24 X 7...",2,1,Undri,1,Freehold,4200000,12,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
30564,NaN,2,1,Vishrantwadi,NaN,Freehold,4500000,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5328,"Lift Available,Car Parking,Power Backup,24 X 7...",1,2,Wadgaon Sheri,NaN,Freehold,10500000,12,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
5821,"Lift Available,Car Parking,Power Backup,24 X 7...",2,2,Kharadi,NaN,NaN,7400000,15,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
28838,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2,Pimple Saudagar,2,NaN,7000000,7,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
22252,"Car Parking,Power Backup,24 X 7 Security,Child...",NaN,5,Kalyani Nagar,NaN,Freehold,55900000,1,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
36181,"Lift Available,Car Parking,Power Backup,Childr...",2,2,Baner,1,Freehold,7988000,12,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
12344,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,3,Wagholi,NaN,Freehold,7500000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
19326,"Lift Available,Car Parking,Power Backup,24 X 7...",2,2,Wagholi,NaN,NaN,5400000,12,NaN,NaN,...,Yes,No,No,Yes,No,No,No,No,No,No
24373,"Lift Available,Car Parking,Power Backup,Childr...",1,1,Hadapsar,NaN,Freehold,2700000,4,1,Yes,...,No,No,No,No,No,No,No,No,No,No
28432,"Lift Available,Car Parking,Power Backup,24 X 7...",2,2,Mundhwa,1,NaN,5200000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
35590,"Lift Available,Car Parking,Power Backup,24 X 7...",3,3,Kondhwa,NaN,Freehold,8600000,10,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
12932,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,4,Wadgaon Sheri,NaN,Freehold,20500000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
22167,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1,Bund Garden,NaN,NaN,7000000,5,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
4662,"Lift Available,Car Parking,Power Backup,24 X 7...",1,4,Kalyani Nagar,NaN,Co-Operative Society,22000000,9,1,No,...,No,No,No,No,No,No,No,No,No,No
20415,"Lift Available,Car Parking,Power Backup,24 X 7...",3,2,Kalyani Nagar,NaN,NaN,11000000,11,NaN,NaN,...,Yes,No,No,Yes,No,No,No,No,No,Yes
28203,NaN,NaN,NaN,Lohegaon,NaN,NaN,4000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33116,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,NaN,Hadapsar,NaN,Co-Operative Society,2500000,4,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
10104,"Lift Available,Car Parking,Power Backup,24 X 7...",1,3,Kalyani Nagar,NaN,Freehold,21000000,10,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
13015,NaN,1,4,Kalyani Nagar,NaN,Freehold,34000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.columns

Index(['amenitiesavailable', 'balconies', 'bathroom', 'locality', 'opensides',
       'ownership', 'price', 'totalfloor', 'No of rooms', 'Pooja room',
       'Servant room', 'Study room', 'Age', 'Area', 'Total rooms', 'Aparment',
       'Villa', 'Independent', 'Penthouse', 'Residential', 'Carpetarea',
       'Facing', 'Floor', 'Neworold', 'Garden View', 'Road View',
       'Corner View', 'Pool View', 'PossesionYear', 'PossesionMonth',
       'Road feet', 'Ready to Move', 'Under Construction', 'Unfurnished',
       'Semi Furnished', 'Furnished', 'Lift Available', 'Car Parking',
       'Power Backup', '24 X 7 Security', 'Children's play area',
       'Vaastu Compliant', 'Club House', 'Gymnasium', 'Swimming Pool',
       'Sports Facility', 'Indoor Games', 'Jogging Track', 'Maintenance Staff',
       'Intercom', 'Golf Course', 'Cafeteria', 'Rain Water Harvesting',
       'Staff Quarter', 'Multipurpose Room', 'Landscaped Gardens',
       'Shopping Mall', 'School', 'Hospital', 'ATM', 'AC', 'Wardrobe', 'TV',
       'Refrigerator', 'Sofa', 'Washing Machine', 'Wifi', 'Microwave',
       'Dining Table', 'Gas connection', 'BED'],
      dtype='object')

In [ ]:
data.duplicated().sum()

np.int64(7870)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.shape

(29646, 71)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29646 entries, 0 to 37455
Data columns (total 71 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amenitiesavailable     27551 non-null  object
 1   balconies              17718 non-null  object
 2   bathroom               27797 non-null  object
 3   locality               29646 non-null  object
 4   opensides              8435 non-null   object
 5   ownership              22773 non-null  object
 6   price                  29646 non-null  object
 7   totalfloor             19402 non-null  object
 8   No of rooms            7312 non-null   object
 9   Pooja room             7312 non-null   object
 10  Servant room           7312 non-null   object
 11  Study room             7312 non-null   object
 12  Age                    22436 non-null  object
 13  Area                   29633 non-null  object
 14  Total rooms            29002 non-null  float64
 15  Aparment               29646 non-null  object
 16  Villa                  29646 non-null  object
 17  Independent            29646 non-null  object
 18  Penthouse              29646 non-null  object
 19  Residential            29646 non-null  object
 20  Carpetarea             6547 non-null   object
 21  Facing                 24722 non-null  object
 22  Floor                  25669 non-null  object
 23  Neworold               29646 non-null  object
 24  Garden View            13554 non-null  object
 25  Road View              13554 non-null  object
 26  Corner View            13554 non-null  object
 27  Pool View              13554 non-null  object
 28  PossesionYear          3448 non-null   object
 29  PossesionMonth         3448 non-null   object
 30  Road feet              5129 non-null   object
 31  Ready to Move          28815 non-null  object
 32  Under Construction     28815 non-null  object
 33  Unfurnished            28815 non-null  object
 34  Semi Furnished         28815 non-null  object
 35  Furnished              28815 non-null  object
 36  Lift Available         27551 non-null  object
 37  Car Parking            27551 non-null  object
 38  Power Backup           27551 non-null  object
 39  24 X 7 Security        27551 non-null  object
 40  Children's play area   27551 non-null  object
 41  Vaastu Compliant       27551 non-null  object
 42  Club House             27551 non-null  object
 43  Gymnasium              27551 non-null  object
 44  Swimming Pool          27551 non-null  object
 45  Sports Facility        27551 non-null  object
 46  Indoor Games           27551 non-null  object
 47  Jogging Track          27551 non-null  object
 48  Maintenance Staff      27551 non-null  object
 49  Intercom               27551 non-null  object
 50  Golf Course            27551 non-null  object
 51  Cafeteria              27551 non-null  object
 52  Rain Water Harvesting  27551 non-null  object
 53  Staff Quarter          27551 non-null  object
 54  Multipurpose Room      27551 non-null  object
 55  Landscaped Gardens     27551 non-null  object
 56  Shopping Mall          27551 non-null  object
 57  School                 27551 non-null  object
 58  Hospital               27551 non-null  object
 59  ATM                    27551 non-null  object
 60  AC                     27551 non-null  object
 61  Wardrobe               27551 non-null  object
 62  TV                     27551 non-null  object
 63  Refrigerator           27551 non-null  object
 64  Sofa                   27551 non-null  object
 65  Washing Machine        27551 non-null  object
 66  Wifi                   27551 non-null  object
 67  Microwave              27551 non-null  object
 68  Dining Table           27551 non-null  object
 69  Gas connection         27551 non-null  object
 70  BED                    27551 non-null  object
dtypes: float64(1), object(70)
memory usage: 16.3+ MB

In [ ]:
BACKUP= data.apply(pd.to_numeric, errors='ignore')

/tmp/ipython-input-750684373.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  BACKUP= data.apply(pd.to_numeric, errors='ignore')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
BACKUP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29646 entries, 0 to 37455
Data columns (total 71 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amenitiesavailable     27551 non-null  object
 1   balconies              17718 non-null  float64
 2   bathroom               27797 non-null  float64
 3   locality               29646 non-null  object
 4   opensides              8435 non-null   float64
 5   ownership              22773 non-null  object
 6   price                  29646 non-null  int64
 7   totalfloor             19402 non-null  float64
 8   No of rooms            7312 non-null   float64
 9   Pooja room             7312 non-null   object
 10  Servant room           7312 non-null   object
 11  Study room             7312 non-null   object
 12  Age                    22436 non-null  float64
 13  Area                   29633 non-null  float64
 14  Total rooms            29002 non-null  float64
 15  Aparment               29646 non-null  object
 16  Villa                  29646 non-null  object
 17  Independent            29646 non-null  object
 18  Penthouse              29646 non-null  object
 19  Residential            29646 non-null  object
 20  Carpetarea             6547 non-null   float64
 21  Facing                 24722 non-null  object
 22  Floor                  25669 non-null  float64
 23  Neworold               29646 non-null  object
 24  Garden View            13554 non-null  object
 25  Road View              13554 non-null  object
 26  Corner View            13554 non-null  object
 27  Pool View              13554 non-null  object
 28  PossesionYear          3448 non-null   float64
 29  PossesionMonth         3448 non-null   object
 30  Road feet              5129 non-null   float64
 31  Ready to Move          28815 non-null  object
 32  Under Construction     28815 non-null  object
 33  Unfurnished            28815 non-null  object
 34  Semi Furnished         28815 non-null  object
 35  Furnished              28815 non-null  object
 36  Lift Available         27551 non-null  object
 37  Car Parking            27551 non-null  object
 38  Power Backup           27551 non-null  object
 39  24 X 7 Security        27551 non-null  object
 40  Children's play area   27551 non-null  object
 41  Vaastu Compliant       27551 non-null  object
 42  Club House             27551 non-null  object
 43  Gymnasium              27551 non-null  object
 44  Swimming Pool          27551 non-null  object
 45  Sports Facility        27551 non-null  object
 46  Indoor Games           27551 non-null  object
 47  Jogging Track          27551 non-null  object
 48  Maintenance Staff      27551 non-null  object
 49  Intercom               27551 non-null  object
 50  Golf Course            27551 non-null  object
 51  Cafeteria              27551 non-null  object
 52  Rain Water Harvesting  27551 non-null  object
 53  Staff Quarter          27551 non-null  object
 54  Multipurpose Room      27551 non-null  object
 55  Landscaped Gardens     27551 non-null  object
 56  Shopping Mall          27551 non-null  object
 57  School                 27551 non-null  object
 58  Hospital               27551 non-null  object
 59  ATM                    27551 non-null  object
 60  AC                     27551 non-null  object
 61  Wardrobe               27551 non-null  object
 62  TV                     27551 non-null  object
 63  Refrigerator           27551 non-null  object
 64  Sofa                   27551 non-null  object
 65  Washing Machine        27551 non-null  object
 66  Wifi                   27551 non-null  object
 67  Microwave              27551 non-null  object
 68  Dining Table           27551 non-null  object
 69  Gas connection         27551 non-null  object
 70  BED                    27551 non-null  object
dtypes: float64(12), int64(1), object(58)
memory usage: 16.3+ MB

In [ ]:
BACKUP.duplicated().sum()

np.int64(0)

In [ ]:
data = BACKUP

In [ ]:
data

,amenitiesavailable,balconies,bathroom,locality,opensides,ownership,price,totalfloor,No of rooms,Pooja room,...,Wardrobe,TV,Refrigerator,Sofa,Washing Machine,Wifi,Microwave,Dining Table,Gas connection,BED
0,"Lift Available,Car Parking,Power Backup,Indoor...",2.0,3.0,Deccan Gymkhana,2.0,Co-Operative Society,27000000,6.0,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,No
1,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2.0,Kharadi,NaN,Freehold,7610050,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
2,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,1.0,Sus,NaN,Freehold,4100000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
3,"Lift Available,Car Parking,Power Backup,24 X 7...",NaN,2.0,Bavdhan,NaN,Freehold,5736000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
4,"Lift Available,Car Parking,Power Backup,24 X 7...",1.0,3.0,Deccan Gymkhana,2.0,Freehold,29002000,9.0,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,"24 X 7 Security,Children's play area,Vaastu Co...",NaN,NaN,Chandkhed,NaN,NaN,1980000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37421,"24 X 7 Security,Children's play area,Vaastu Co...",NaN,NaN,Chandkhed,NaN,NaN,1665000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37422,"24 X 7 Security,Children's play area,Vaastu Co...",NaN,NaN,Chandkhed,NaN,NaN,1710000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37423,"24 X 7 Security,Children's play area,Vaastu Co...",NaN,NaN,Chandkhed,NaN,NaN,1755000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37455,"24 X 7 Security,Children's play area,Vaastu Co...",NaN,NaN,Chandkhed,NaN,NaN,4500000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No

In [ ]:
data.drop("amenitiesavailable" , axis=1, inplace=True)

In [ ]:
data

,balconies,bathroom,locality,opensides,ownership,price,totalfloor,No of rooms,Pooja room,Servant room,...,Wardrobe,TV,Refrigerator,Sofa,Washing Machine,Wifi,Microwave,Dining Table,Gas connection,BED
0,2.0,3.0,Deccan Gymkhana,2.0,Co-Operative Society,27000000,6.0,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,No
1,NaN,2.0,Kharadi,NaN,Freehold,7610050,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
2,NaN,1.0,Sus,NaN,Freehold,4100000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
3,NaN,2.0,Bavdhan,NaN,Freehold,5736000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
4,1.0,3.0,Deccan Gymkhana,2.0,Freehold,29002000,9.0,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,NaN,NaN,Chandkhed,NaN,NaN,1980000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37421,NaN,NaN,Chandkhed,NaN,NaN,1665000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37422,NaN,NaN,Chandkhed,NaN,NaN,1710000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37423,NaN,NaN,Chandkhed,NaN,NaN,1755000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
37455,NaN,NaN,Chandkhed,NaN,NaN,4500000,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No

In [ ]:
data.to_csv("Puneclean12.csv")

In [ ]:
pune = pd.read_csv("Puneclean12.csv")

In [ ]:
pune

,Unnamed: 0,balconies,bathroom,locality,opensides,ownership,price,totalfloor,No of rooms,Pooja room,...,Wardrobe,TV,Refrigerator,Sofa,Washing Machine,Wifi,Microwave,Dining Table,Gas connection,BED
0,0,2.0,3.0,Deccan Gymkhana,2.0,Co-Operative Society,27000000,6.0,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,No
1,1,NaN,2.0,Kharadi,NaN,Freehold,7610050,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
2,2,NaN,1.0,Sus,NaN,Freehold,4100000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
3,3,NaN,2.0,Bavdhan,NaN,Freehold,5736000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
4,4,1.0,3.0,Deccan Gymkhana,2.0,Freehold,29002000,9.0,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29641,37401,NaN,NaN,Chandkhed,NaN,NaN,1980000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
29642,37421,NaN,NaN,Chandkhed,NaN,NaN,1665000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
29643,37422,NaN,NaN,Chandkhed,NaN,NaN,1710000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
29644,37423,NaN,NaN,Chandkhed,NaN,NaN,1755000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
29645,37455,NaN,NaN,Chandkhed,NaN,NaN,4500000,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No

In [ ]:
data.columns

Index(['balconies', 'bathroom', 'locality', 'opensides', 'ownership', 'price',
       'totalfloor', 'No of rooms', 'Pooja room', 'Servant room', 'Study room',
       'Age', 'Area', 'Total rooms', 'Aparment', 'Villa', 'Independent',
       'Penthouse', 'Residential', 'Carpetarea', 'Facing', 'Floor', 'Neworold',
       'Garden View', 'Road View', 'Corner View', 'Pool View', 'PossesionYear',
       'PossesionMonth', 'Road feet', 'Ready to Move', 'Under Construction',
       'Unfurnished', 'Semi Furnished', 'Furnished', 'Lift Available',
       'Car Parking', 'Power Backup', '24 X 7 Security',
       'Children's play area', 'Vaastu Compliant', 'Club House', 'Gymnasium',
       'Swimming Pool', 'Sports Facility', 'Indoor Games', 'Jogging Track',
       'Maintenance Staff', 'Intercom', 'Golf Course', 'Cafeteria',
       'Rain Water Harvesting', 'Staff Quarter', 'Multipurpose Room',
       'Landscaped Gardens', 'Shopping Mall', 'School', 'Hospital', 'ATM',
       'AC', 'Wardrobe', 'TV', 'Refrigerator', 'Sofa', 'Washing Machine',
       'Wifi', 'Microwave', 'Dining Table', 'Gas connection', 'BED'],
      dtype='object')

In [ ]:
data.shape

(29646, 70)

In [ ]:
data.isna().sum()

balconies         11928
bathroom           1849
locality              0
opensides         21211
ownership          6873
                  ...
Wifi               2095
Microwave          2095
Dining Table       2095
Gas connection     2095
BED                2095
Length: 70, dtype: int64

In [ ]:
data.duplicated().sum()

np.int64(0)